$base-color: #1e1e1e;
$blue: #0059ffe3;
$light-blue: #b1dcfb;
$grey: #4a4a4a;



body {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: /center; */
    background-color: base-color;
    color: white;
}


.header {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    align-items: center;
    justify-content: center;
    /* width: 70%; */
}

.header input {
    height: 2.5rem;
    width: 30rem;
    border-radius: 8px;
    height: 5rem;
    font-size: 3rem;
    margin-left: 1rem;

}

.header input:focus {
    height: 2.5rem;
    width: 30rem;
    border-radius: 8px;
    height: 5rem;
    font-size: 3rem;
    margin-left: 1rem;

}

.header label {
    font-size: 3rem;
    margin-right: 1rem;
}

.aim-heading {
    font-size: 1.6rem;
}



.tasks-container {
    @include get-create-project-content-width;
    margin: auto;
}

.task-container {
    margin: auto;
    background-color: $blue;
    border-radius: 8px;
    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;


}

.task-container label {
    font-size: 1.5rem;
    margin-right: 4rem;
}

.task-container input {
    font-size: 1.8rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 8px;
    width: 50%;
    max-width: 37rem;
    text-align: center;
    color: $grey;
    border: none;
}

.task-container input:focus {
    height: 3.1rem;
    outline: none;
    text-align: center;
    border: 1px;
}


.shadow {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 50px #ccc;
}



#title {
    border: none;
    outline: none;
    text-align: center;
    min-width: 10rem;
    max-width: 25rem;
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    font-size: 2rem;
    background-color: inherit;
    color: white;
}

#title:hover {
    border-bottom: dashed 1.5px rgb(146, 146, 146);
    transform: translate(0, 0.5px);

}

#title:active {
    outline: none;
}

.task-content {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.flex-container {
    display: flex;
    align-items: center;
    text-align: center;
}


.create-project-buttons {
    margin-top: 5rem;

}

button {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

#new-task-button {
    margin-left: 5rem;
}

.icon {
    color: "red"
}

.prerequisite-button {
    width: 12rem;
    height: 4rem;
    background-color: #b1dcfb;
    color: $base-color;
    font-size: 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem;
    border: none;

}

.aim-section {
    text-align: center;
}

#aim-input {
    @include get-create-project-content-width;
    height: 25rem;
    resize: none;
    margin-top: 2rem;
    border-radius: 2px;
    padding: 3rem;
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $grey;
}

#aim-input:focus {
    outline: none;
    transform: scale(1.005);
}