.cc-modal-content {
    background-color: #1e1e1e;
    color: white;
    margin: 7% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    max-width: 800px;
    border: none;
    border-radius: 3px;
    z-index: 1;
    text-align: center;
    min-width: 400px;
}

.cc-modal-body {
    margin: 3% 5%;
}

.cc-title-input {
    width: 70%;
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 3px;
}

.cc-title-input:focus {
    border: none;
    outline: none;
}

.checkbox-container {
    margin-top: 50px;
    margin-left: 12%;
    margin-bottom: 50px;
}

.community-description-text-area {
    width: 70%;
    height: 250px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: rgb(62, 62, 62);
}

.input-wrapper {
    position: relative;
}

.input-tag {
    background-color: gray;
    color: black;
    z-index: 1;
    width: 20px;
    font-size: large;
    float: left;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 3px;
    margin: auto;
}

.tag {
    background-color: white;
    width: auto;
    padding: 3px 15px;
    height: 30px;
    border-radius: 15px;
}

.tag-text,
.tag-cross {
    margin-inline-start: 5px;
}

.tag-text {
    color: black;
}

.tag-cross {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    color: grey;
    cursor: pointer;
}

.tag-cross:hover {
    color: rgb(255, 119, 0);
}


// issue is we need to reduce input element size they can't be absolute
// ik. let's make the maximum be 5? no
// they have to be relative to each other
// have a separate row for now for the tag list? ok going to google 