
.search-result{
    width: 600px;
    height: 160px;
    background-color: white;
    margin: auto;
    margin-top:50px;
}

.search-result-title{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 24px;
}

.search-tag{
    padding: 0;
    margin: 0;
    background-color: blue;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}


