$state1-bg-color:rgb(255, 255, 255);
$state1-color:rgba(31, 80, 255, 0.801);
$state1-content:"";
$state2-content:"";
$state2-bg-color:black;
$state2-color: rgba(0, 238, 255, 0.698);



input[type="checkbox"].toggle {
    opacity:0;
    transform: scale(50);
    position: absolute;
    top:-1000px;
    cursor: pionter;
}

input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
    align-items: center;
}

input[type="checkbox"].toggle:focus + label::before {
    outline: 1px solid white;
}

input[type="checkbox"].toggle + label::before{
    cursor:pointer;
    content: "";
    width:2em;
    height: 1em;
    background-color: $state1-bg-color;
    border-radius: 1em;
    margin-right: 0.25rem;
    transition: background-color 200ms ease-in-out;

}

input[type="checkbox"].toggle:checked + label::after{
    transform: translateX(100%);
    background-color: $state2-color;
    content:$state2-content;
    animation: check-fade 300ms ease-in-out forwards;

}

input[type="checkbox"].toggle + label::after{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0.1em;
    cursor:pointer;
    content: $state1-content;
    font-size: 0.5em;
    width:1.8em;
    height: 1.8em;
    color: $state1-bg-color;
    background-color: $state1-color;
    border-radius: 1em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
    animation: check-fade 300ms ease-in-out reverse;

}


input[type="checkbox"].toggle:checked + label::before{
    background-color: $state2-bg-color;
}

input[type="checkbox"].toggle:checked + label{
    color:$state2-color;
}


@keyframes check-fade {
    0%{
        opacity:1;
        content: $state1-content;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
        content:$state2-content;
    }
}
