$section-width: 650px;

.section{
    margin-top: 50px;
}

.section h1{
    font-size: 23px;
    width:$section-width;
    margin:auto
}

.requisites{
    margin-top: 70px;
}

.requisite{
    width:$section-width;
    height:270px;
    background-color: white;
    margin:auto;
    margin-top: 20px;
}
